
.carousel-item{
    height: 100vh;
    min-height: 400px;
}
.carousel-caption{
    bottom: 300px;
    z-index: 2;
}
.carousel-caption h5{
    font-size: 35px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 30px;
}
.carousel-caption p{
    width: 60%;
    margin: auto;
    line-height:2.9;
    font-size: 18px;
}
.carousel-inner::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}


.Festival h4{
    color: blue;
    font-weight: bold;
    font-size: 30px;
}
.Festival .subheading{
    color: black;
    font-size: 20px;
}
.Festival .row{
    margin-top: 1px;
    padding: 2%;
}
.bg-img{
    text-align: center;
    
}
.bg-img img{
    width: 100%;
    border-radius: 2px;
    box-shadow: 0px 0px 5px 5px;
}

    

.Cuisin h4{
    color: rgb(50, 50, 227);
    font-weight: bold;
    font-size: 30px;
}
.Cuisin .subheading{
    color: black;
    font-size: 20px;
}
.Cuisin .row{
    margin-top: 1px;
    padding: 2%;
}
.bg2-img{
    text-align: center;
    
}
.bg2-img img{
    width: 100%;
    border-radius: 2px;
    box-shadow: 0px 0px 5px 5px;

    
}
footer{
    background-color: #f5f5f5;
    text-align: center;
    padding: 10px;
    width: 100%;
    margin-bottom: 0;
}